<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hadoopweb</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>MonDelayCntServlet</display-name>
  	<servlet-name>MonDelayCntServlet</servlet-name>
  	<servlet-class>dataexpo.servlet.MonDelayCntServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrDelayCntServlet</display-name>
  	<servlet-name>CarrDelayCntServlet</servlet-name>
  	<servlet-class>dataexpo.servlet.CarrDelayCntServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MonMultiServlet</display-name>
  	<servlet-name>MonMultiServlet</servlet-name>
  	<servlet-class>dataexpo.servlet.MonMultiServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrMultiServlet</display-name>
  	<servlet-name>CarrMultiServlet</servlet-name>
  	<servlet-class>dataexpo.servlet.CarrMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MonDelayCntServlet</servlet-name>
  	<url-pattern>/MonDelayCntServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrDelayCntServlet</servlet-name>
  	<url-pattern>/CarrDelayCntServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MonMultiServlet</servlet-name>
  	<url-pattern>/MonMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrMultiServlet</servlet-name>
  	<url-pattern>/CarrMultiServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>